
.cake-header .cake-container{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  background-color: var(--pink);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 140px;
}


.cake-header a{
  color: white;
 text-decoration: none;
 font-size: var(--desktop-text-mid);
 padding-left: 2rem;
}
.header-item-1{
  margin-top: 30px;
}
.header-item-2 img{
  width: 100%;
  height: auto;
}
  

.header-item-3{
  margin-top: 30px;
  margin-left: auto;
  margin-right: 5%;
}


 nav a{
  text-decoration: none;
}
nav ul a{
  color: gray;
}
  

nav ul {

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7CA27E;
  
}
 nav li {
  float: left;
}
 nav li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 14rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}
 nav li a:hover {
  background-color: #7CA27E;
}

.main{
  width: 85%;
  background-color: #FFF3E1;
  margin: auto;
}


.check{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 10px;
  width: 40px;
  height: 40px;
  opacity: 0;
  display: none;
}
.hamburger{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
  z-index: 2;
  padding: 2 rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  display: none;
}
.hamburger>div{
  position: relative;
  flex: none;
  height: 2px;
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hamburger>div::before,
 .hamburger>div::after{
content: '';
position: absolute;
z-index: 2;
width: 100%;
height: 2px;
background: inherit;
top: -10px;
}
.hamburger>div::after{
  top: 10px;
}

.check:checked+ .hamburger{
  transform: rotate(135deg);
}
.check:checked+.hamburger>div::before,
.check:checked+.hamburger>div::after{
  top: 0;
  transform: rotate(90deg);
}



@media(max-width:800px){
  .main{
    width: 100%;
    background-color: #FFF3E1;
    margin: auto;
  }
  
.check{
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  padding: 10px;
  width: 40px;
  height: 40px;
  opacity: 0;
 
}
.hamburger{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
  width: 30px;
  z-index: 3;
  padding: 2 rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
 
}
.hamburger>div{
  position: relative;
  flex: none;
  height: 2px;
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hamburger>div::before,
 .hamburger>div::after{
content: '';
position: absolute;
z-index: 3;
width: 100%;
height: 2px;
background:3inherit;
top: -10px;
}
.hamburger>div::after{
  top: 10px;
}

.check:checked+ .hamburger{
  transform: rotate(135deg);
}
.check:checked+.hamburger>div::before,
.check:checked+.hamburger>div::after{
  top: 0;
  transform: rotate(90deg);
}

.check:checked ~.header-menu{
  visibility: visible;
}
.check:checked ~.header-menu>div{
  transform: scale(1);
}

.header-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;

  
}


.header-menu ul{
  display: flex;
  flex-direction: column;
}
.header-menu li{
  margin: 10px 0;
}
.header-menu li a{
  float: left;
  padding: 0;

}

.header-menu >div{
  background: var(--green);
  width: 100%;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

}
