:root{
    --color-body: #FFF3E1;
    --color-h:#61868C;
    --color-pink: pink;
    --color-black: black;
    --color-white: white;
}

body{
    background-color: var(--color-body);
    & img{
        width: 1rem;
        height: 1rem;
    }
    & main{
       margin: auto;
       width: 85%;
        & h{
            font-weight: bold;
            margin-left: 2rem;
            font-size: 2.5rem;
            color: var(--color-h);
        }
        & section{
            display: flex;
            flex-flow: row wrap;
            & article{
                background-image: url('../photos/back.jpg');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 2rem; 
                width: 100%;
               
                & ul{
                    list-style: none;
                    margin: 1rem;
                    & .a1{
                        margin-left: 40%;
                        font-weight: bold;
                        font-size: 1.3rem;
                        color: var(--color-h);
                        
                    }
                    & li{
                        & .train{
                            margin-top: 2rem;
                            margin-bottom: 1rem;
                            border-radius: 1rem;
                            border: 1rem solid var(--color-pink);
                            width: 90%;
                            height: 30%;
                        }
                    }
                }
                & p{
                    font-size: 2rem;
                    color: var(--color-h);
                    margin-left: 20%;
                    margin-top: 10%;
                }
                & .orts{
                    font-size: 1rem;
                }
                & hr{
                    width: 80%;
                    margin-left: 10%;
                }
            }
            & .art{
                width: 60%;
                background-image: none;
                margin-top: 8%;
            }
            & .art1{
                width: 35%;
                margin-top: 8%;
                & ul{
                    margin-left: 5rem;
                    margin-bottom: 2rem;
                    width: 75%;
                    list-style:circle;
                    & li{
                        font-size: 1.5rem;
                        color: var(--color-h);
                    }
                }
            }
        }
        & #app{
            & article{
                text-align: center;
                margin: 2.5rem;
                width: 18%;
                & h{
                    height: 5rem;
                    margin-left: 0rem;
                    font-size: 0.8rem;
                    color: var(--color-black);
                }
                & img{
                    margin-left: 1rem;
                    margin-top: 1rem;
                    width: 90%;
                    height: 90%;
                    border-radius: 5rem;
                    cursor: pointer;
                    transition: all 150ms ease-in-out 0s;
                }
                & img:hover{
                    transform: scale(1.3);
                }
                & ul{
                    margin-top: 3rem;
                    padding: 0rem;
                }
            }
            & button{
                background-color: #f4a395;
                border: none;
                border-radius: 0.75rem;
                padding: 0.25rem;
                color: #fff;
                transform: translateX(5rem) translateY(1rem);
                font-size:1rem;
                cursor: pointer;
                transition: all 150ms ease-in-out 0s;
            }
                & button:hover{
                    background-color: var(--green);
                    border: 1px solid var(--green);
                    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
                  }
                & img{
                    border-radius: 2rem;
                    width: 25%;
                    height: 100%;
                    float: left;
                }
            }
        }
    }
