.main-body{
    font-family: Arial, Helvetica, sans-serif;
}
.side_menu{
    list-style: none;
    margin: 0;
    padding: 0;

}
.main{
    width: 80%;
    background-color: #fff;
    margin: auto;
}

.footer{
    width: auto;
    display: grid;
    grid-template-columns: 30% 20% auto;
    background-color: black;
    color: #fff;
}
.footer-item-1{
    width: 80%;
    padding: 40px;
}
.footer-item-3{
    margin-top: 16px;
    
}

.footer-menu{
    list-style: none;
    color: #fff;
    margin-top: 35px;
    
}
.footer-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    line-height: 2em;
    
}
.contact{
    list-style: none;

}
.contact li a{
    text-decoration: none;
    color: #fff;
    font-size: medium;
    line-height: 2em;

}
.wrapper a {
    color: #fff;
}